# Telegram Bot Configuration
TELEGRAM_BOT_TOKEN=
ADMIN_SECRET_TOKEN=

# Host API Configuration
HOST_LAN_IP=
API_PORT=8000

# Database
DATABASE_PATH=./database.sqlite

# Security
MAX_FAILED_AUTH=3
HEARTBEAT_TIMEOUT_MINUTES=3
AFK_THRESHOLD_MINUTES=60
